.editor {
    padding-top: 150px;
    padding-bottom: 70px;

    &__github-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 20px;
    }

    &__wrapper {
        margin: 0 auto;
        max-width: 900px;
    }

    &__heading {
        text-align: center;
        font-family: $default-font-name;
        text-transform: uppercase;
        font-size: 54px;
        font-weight: 700;
        color: $color-secondary-dark;

        @media(max-width: $LG) {
            font-size: 42px;
        }

        @media(max-width: $MD) {
            font-size: 35px;
        }

        @media(max-width: $MD) {
            font-size: 26px;
        }
    }

    &__text {
        margin: 30px auto;
        text-align: center;
        font-size: 21px;
        color: $color-black;

        @media(max-width: $MD) {
            font-size: 18px;
        }

        @media(max-width: $MD) {
            font-size: 14px;
        }
    }  
}