.page {
    font-family: $default-font-name;
    color: $color-primary-dark;
    font-size: $default-font-size;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: $XL ) {
        max-width: $XL_width;
    }

    @media (max-width: $LG ) {
        max-width: $LG_width;
    }

    @media (max-width: $SM ) {
        max-width: $SM_width;
    }
}
