@mixin fontFace($fontFamily, $fontPath, $fontStyle: normal, $fontWeight: normal) {
    @font-face {
        font-family: $fontFamily;
        font-style: $fontStyle;
        font-weight: $fontWeight;
        src:url('#{$fontPath}.woff2') format('woff2'),
        url('#{$fontPath}.woff') format('woff');
    }
}

@include fontFace($default-font-name, '../fonts/Montserrat-Regular', normal, 400);
@include fontFace($default-font-name, '../fonts/Montserrat-Bold', normal, 700);

@include fontFace($secondary-font-name, '../fonts/Lato-Regular', normal, 400);
@include fontFace($secondary-font-name, '../fonts/Lato-Bold', normal, 700);
@include fontFace($secondary-font-name, '../fonts/Lato-BoldItalic', italic, 700);
