$default-font-name: 'Montserrat';
$secondary-font-name: 'Lato';

$default-font-size: 16px;
$default-line-height: 1.5;
$small-font-size: 14px;

$color-white: #fff;
$color-gray: #f4f4f4;
$color-black: #323232;
$color-primary-dark: #8d81ac;
$color-primary-light: #848e97;
$color-secondary-dark: #635c73;
$color-secondary-ligth: #a291a5;

$color-purple-ligth: #8D81AC;


//точка переключения размера XL
$XL: 1200px;
//ширина контейнера размера XL
$XL_width:960px;
//точка переключения размера LG
$LG: 992px;
//ширина контейнера размера LG
$LG_width:720px;
//точка переключения размера MD
$MD: 768px;
//ширина контейнера размера MD
$MD_width:540px;
//точка переключения размера SM
$SM: 576px;
//ширина контейнера размера SM
$SM_width: 480px;
//точка переключения размера SM
$XS: 480px;
//ширина контейнера размера SM
$XS_width: 100%;